*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,Arial;
}

body{
background:#f8fbff;
color:#0f172a;
}

/* NAV */

.nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:16px 50px;
background:white;
box-shadow:0 4px 12px rgba(0,0,0,.05);
position:sticky;
top:0;
}

.nav a{
text-decoration:none;
color:#0f172a;
margin:0 10px;
font-weight:500;
}

.nav button{
background:#2563eb;
color:white;
border:none;
padding:10px 18px;
border-radius:8px;
}

/* HERO */

.hero{
text-align:center;
padding:90px 20px;
}

.photo{
width:220px;
border-radius:50%;
border:6px solid #3b82f6;
margin-bottom:20px;
}

.pill{
background:#e0ecff;
color:#2563eb;
padding:6px 16px;
border-radius:20px;
font-weight:600;
}

.hero h1{
margin:20px 0;
font-size:40px;
}

.hero h1 span{
color:#2563eb;
}

.hero p{
max-width:650px;
margin:auto;
color:#475569;
}

.badges{
display:flex;
justify-content:center;
gap:12px;
flex-wrap:wrap;
margin:20px 0;
}

.badges span{
background:white;
padding:8px 16px;
border-radius:18px;
box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.btns{margin-top:25px;}

.main{
background:#2563eb;
color:white;
padding:12px 28px;
border:none;
border-radius:12px;
}

.line{
background:transparent;
border:2px solid #2563eb;
color:#2563eb;
padding:12px 28px;
border-radius:12px;
}

/* SECTIONS */

section{
padding:80px 20px;
text-align:center;
}

h2{
font-size:32px;
margin-bottom:40px;
}

h2 span{
color:#2563eb;
}

/* ABOUT CARDS */

.about p{
max-width:800px;
margin:12px auto;
color:#475569;
line-height:1.7;
}

.about-cards{
display:flex;
flex-direction:column;
gap:18px;
max-width:820px;
margin:50px auto 0;
}

.about-card{
display:flex;
gap:16px;
align-items:flex-start;
background:#f1f7ff;
padding:22px;
border-radius:18px;
box-shadow:0 6px 18px rgba(0,0,0,.06);
}

.icon{
background:#e0ecff;
color:#2563eb;
font-size:22px;
padding:14px;
border-radius:14px;
}

.about-card h4{
margin-bottom:4px;
font-size:18px;
}

.about-card p{
color:#475569;
}

/* GRID */

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
max-width:900px;
margin:auto;
}

.grid div{
background:white;
padding:26px;
border-radius:14px;
box-shadow:0 6px 16px rgba(0,0,0,.06);
}

/* SKILLS */

.bar{
background:#e5eefc;
border-radius:30px;
max-width:600px;
margin:14px auto;
overflow:hidden;
}

.bar span{
display:block;
background:#2563eb;
color:white;
padding:10px;
border-radius:30px;
}

/* CONTACT */

.contact input,
.contact textarea{
width:90%;
max-width:420px;
padding:12px;
margin:8px;
border-radius:8px;
border:1px solid #ccc;
}

.contact button{
background:#2563eb;
color:white;
padding:12px 26px;
border:none;
border-radius:12px;
}

/* FOOTER */

footer{
background:#0f172a;
color:white;
text-align:center;
padding:22px;
}

/* MOBILE */

@media(max-width:800px){
.nav .menu{display:none;}
.hero h1{font-size:32px;}
}